body {
    margin:0;
 
}

p { 
    font-family: Fira Mono;
    font-size:13px;
    font-weight:500;
}

b {
    color:#00A39C;
}

img {
    filter: grayscale(100%);
  }


header {
    background-image: url(./images/hero4.png);
    background-size:cover;
    height: 100vh;
    background-position: top;
    background-attachment: fixed;


}

.nav-bar {
    position:sticky;
    background-color:black;
    height: auto;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between; 
    width:100%; 
}

/* .nav-bar img {
    margin-top:12px;
    margin-left:12px;
    height:70px;
} */

.header-content {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    height: 85vh;
}


 h1 {
    font-family: Poppins;
    font-size:60px;
    color:white;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1px;
    margin-top:20px;
    margin-left:20px;
    height:75px;
    display:inline-block;

    
}

h2 {
    font-family: Poppins;
    font-size:60px;
    color:black;
    font-weight:700;
    text-transform:uppercase;
    display:inline-block;
    padding:0px 10px 0px 10px;
    border-bottom: 8px solid black;
    margin-bottom:30px;
    text-align:center;

}
.work h2 {
    color:white;
    border-bottom: 8px solid white;
}


span {
    color:#00A39C;
}

h3 {
    font-family: Poppins;
    font-size:30px;
    color:white;
    font-weight:700;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:1px;
    margin:0px;

}

h5 {
    font-family: Poppins;
    font-size:60px;
    color:white;
    font-weight:700;
    text-transform:uppercase;

}

.nav-links {
     margin-right:50px;
     margin-top:40px;


}
.nav-links a {
    font-family: Fira code;
    font-size: 20px;
    color:white;
    text-decoration: none;
    font-weight:500;
    padding:5px;
    margin-left: 20px;
    transition: 0.3s ease-in;
   
}
.nav-links a:hover {
    color: #00A39C;
    font-weight:700;
    padding-bottom:5px;
    transition: 0.3s ease-out;
}



.about {
    background-color:white;
    height:auto;
    padding-left:3%;
    padding-right:3%;
    padding-top:3%;
    color:#7E7E7E;
    font-size: 18px;  
    text-align:center; 
    margin-left:10%;
    margin-right:10%;

    
  }

.about p {
    
    text-align:justify;
    font-size:16px;
}



.skills {
    background-color:#353535;
    height:85px;  
  }


.work {
    padding:3%;
    background-color:#00A39C;
    text-align:center;
    font-size:12px;
}

.contact {
    background-color:white;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding-left:3%;
    padding-right:3%;
    margin-left:10%;
    margin-right:10%;
}

.contact span {
    color:#353535
}

.contact img {
    width:300px;
 
}

h6 {
    font-family: Fira code;
    font-size: 20px;
    color:#00A39C;
    text-decoration: none;
    font-weight:500;
    padding:5px;
}

.social {
    background-color:white;
    height: auto;
    display:flex;
    justify-content: space-between;
    padding:3%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:3%;
}

.social img {
    width:85px;
    height:85px;
    transition: 0.3s ease-in;
}

.social img:hover {
    opacity: 0.5;
    transition: 0.3s ease-out;
    
    }

/* .projects {
    margin-top:2%;

}

.project-info {
    background-color: black;
    color:white;
    height: 175px;
 
}

.project-info p {
    margin-bottom:30px;
}

.project-info a, .project-info a:active , .project-info a:visited{
    font-family:Poppins;
    font-size:16px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:2px;
    color: white;
    background-color:#353535;
    margin-right:10px;
    margin-left:10px;
    padding:5px 10px 5px 10px;
    text-align:center;
    text-decoration:none;
    transition: 0.3s ease-in;
}

.project-info a:hover {
    background-color:#00A39C;
    color:white;
    border: 0px solid #996164;
    text-decoration:none;
}   */


.container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.project {
    position: relative;
    width: 30%;
    margin-bottom:2%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#353535;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .project:hover .overlay {
    height: 100%;
  }
  
  .project-title {
    font-family:Poppins;
    font-size:30px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:2px;
    color: white;
    position: relative;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .project-info {
    position:relative;
    top:21%;
    margin-left:3%;
    margin-right:3%;
  }
  
  .project-info a, .project-info a:active , .project-info a:visited{
    font-family:Poppins;
    font-size:18px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:2px;
    color: white;
    background-color:#00A39C;
    margin-right:10px;
    margin-left:10px;
    padding:5px 10px 5px 10px;
    position: relative;
    /* top: 20%; */
    text-align:center;
    text-decoration:none;
    transition: 0.3s ease-in;
}

.project-info a:hover {
    background-color:#7E7E7E;
    color:white;
    border: 0px solid #996164;
    text-decoration:none;
} 

.project-info p {
    color:#DBDBDB;
    margin-top:5px;
    margin-left:3%;
    margin-right:3%;
    font-size:16px;
}





footer {
    background-color:black;
    height:auto; 
    padding:2%;
    text-align:center;
    margin:auto;

}

footer p {
    font-family: poppins;
    text-align:center;
    color: white;
    font-size: 12px;
    text-transform:uppercase;
    letter-spacing:2px;

}

footer span {
    color:#00A39C;
    font-weight:700;
}



/* Header Text Animation. */

h4 {
    font: bold 400% Fira Code;
    color:black;
    border-right: 0.1em solid;
    width: 16.5em;
    width: 23ch;
    margin: 2em 3em;
    /* white-space: nowrap; */
    overflow: hidden;
    animation: typing 3s steps(26, end),
    cursor-blink 0.3s step-end infinite alternate;
    display:block;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor-blink {
    50% {
        border-color: transparent;
    }
}



@media only screen and (max-width: 1503px) {

  
    h6 {
        font-family: Fira code;
        font-size: 20px;
        color:#00A39C;
        text-decoration: none;
        font-weight:500;
        text-align:center;
    }



}


@media only screen and (max-width: 1350px) {

    h1 {
        font-family: Poppins;
        font-size:60px;
        color:white;
        font-weight:700;
        text-transform:uppercase;
        letter-spacing:1px;
        margin-top:20px;
        margin-left:20px;
        height:75px;
        display:inline-block;

        
    }

    .nav-bar {
        position:sticky;
        background-color:black;
        height: auto;
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around; 
        width:100%; 
    }

    .nav-links {
        margin:auto;
        padding-bottom:30px;
        text-align:center;

    }

    h4 {
        font: bold 300% Fira Code;
        color:black;
        border-right: 0.1em solid;
        width: 16.5em;
        width: 23ch;
        margin: 2em 3em;
        /* white-space: nowrap; */
        overflow: hidden;
        animation: typing 3s steps(26, end),
        cursor-blink 0.3s step-end infinite alternate;
        display:block;
    }

}

    @media only screen and (max-width: 1288px) {

    .project-info a, .project-info a:active , .project-info a:visited{
        font-size:16px;
    }

     h3 {
        font-family: Poppins;
        font-size:20px;
        color:white;
        font-weight:700;
        text-transform:uppercase;
        text-align:center;
        letter-spacing:1px;
    
    }
    .project-info p {
        margin-bottom:30px;
        font-size:12px;
    }

    h4 {
        font: bold 200% Fira Code;
        color:black;
        border-right: 0.1em solid;
        width: 16.5em;
        width: 23ch;
        margin: 2em 3em;
        /* white-space: nowrap; */
        overflow: hidden;
        animation: typing 3s steps(26, end),
        cursor-blink 0.3s step-end infinite alternate;
        display:block;
    }
    

}




@media only screen and (max-width:1100px) {
    .project {
        position: relative;
        width: 45%;
        margin-bottom:2%;
      }

      .project-info a, .project-info a:active , .project-info a:visited{
        font-size:18px;
    }

     h3 {
        font-family: Poppins;
        font-size:25px;
        color:white;
        font-weight:700;
        text-transform:uppercase;
        text-align:center;
        letter-spacing:1px;
    
    }
    .project-info p {
        margin-bottom:30px;
        font-size:14px;
    }
}

@media only screen and (max-width: 850px) {

    
    h1 {
        font-family: Poppins;
        font-size:40px;
        color:white;
        font-weight:700;
        text-transform:uppercase;
        letter-spacing:1px;
        margin-top:45px;
        margin-left:20px;
        height:75px;
        display:inline-block;
        text-align:center;
    
        
    }

    .nav-links {
        margin:auto;
   
   
   }
   .nav-links a {
       font-family: Fira code;
       font-size: 16px;
       color:white;
       text-decoration: none;
       font-weight:500;
       padding:5px;
       margin-left: 0px;
   }
      

   .project-info a, .project-info a:active , .project-info a:visited{
    font-size:14px;
}

 h3 {
    font-size:20px;


}
.project-info p {
    font-size:12px;
}


     
h4 {
    font: bold 150% Fira Code;
    color:black;
    border-right: 0.1em solid;
    width: 16.5em;
    width: 23ch;
    margin: 2em 3em;
    /* white-space: nowrap; */
    overflow: hidden;
    animation: typing 3s steps(26, end),
    cursor-blink 0.3s step-end infinite alternate;
    display:block;
}

.contact {
    background-color:white;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding-left:3%;
    padding-right:3%;
    margin-left:10%;
    margin-right:10%;
}

.social img {
    width:50px;
    height:50px;

}


}


@media only screen and (max-width:680px) {
    .project {
        position: relative;
        width: 100%;
        margin-bottom:2%;
      }


      .project-info a, .project-info a:active , .project-info a:visited{
        font-size:20px;
    }
    
     h3 {
        font-size:35px;
    
    }
    .project-info p {
        font-size:18px;
    }
}